<div class="container">
    <div class="row p-1">
        <div class="col-12">
            <h1 class="text-center">Productos</h1>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12">
            <div class="row row-cols-md-3 row-cols-sm-2 row-cols-1 g-3">
                <div class="col" *ngFor="let p of productos">
                    <div class="card text-center h-100">
                        <img src="{{p.imagen}}" class="w-50 h-auto m-auto" alt="{{p.imagen}}">
                        <div class="card-body">
                            <h5 class="card-title">{{p.nombre}}</h5>
                            <p class="card-text">{{p.descripcion}}</p>
                        </div>
                        <div class="card-footer text-bg-light">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-bg-light">Precio: ${{p.precio}}</li>
                                <li class="list-group-item text-bg-light">Stock: {{p.stock}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>